/* Write your CSS here */

.list-item {
  border: 1px solid #b5b7c4;
  border-radius: 5px;
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.name-star-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.appointer-heading {
  font-family: 'roboto';
  font-size: 20px;
  font-weight: 500;
  color: #171f46;
}
.startImg {
  height: 28px;
  width: 25px;
  margin-top: 10px;
}
.date-pragraph {
  font-family: 'roboto';
  font-size: 15px;
  font-weight: 500;
  color: #b5b7c4;
}
